In [ ]:
#concatenating data from Store Number and Address columns
#dropping all nan values from Address (there are no nons in the Store Number column)
#dropping all duplicate store number values 
#exporting to a file for easy future reference

In [2]:
import pandas as pd
import numpy as np
import chunk
import re
from datetime import datetime

#pd.set_option('display.max_columns',30)

### 1. Upload 1st Look
### 2. Walkthrough
### 3. Condensed version of data cleaning code
### 4. Trimming clean code

## 1. Upload work from 1st Look

In [4]:
y12=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//year2012.csv')
y13=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//year2013.csv')
y14=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//year2014.csv')
y15=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//year2015.csv')
y16=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//year2016.csv')
y17=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//year2017.csv')

C:\Users\Owner\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
# How many nan values exist in raw data?
listof6 = (y12,y13,y14,y15,y16,y17)
for i in listof6:
    print(i.isna().sum())

Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            3599
County                   3599
Category                  284
Category Name             822
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost          10
State Bottle Retail        10
Bottles Sold                0
Sale (Dollars)             10
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64
Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            2660
County                   2660
Category                  298
Category Name             810
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64
Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            1054
County                   1054
Category                  480
Category Name            1057
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64
Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            1119
County                   1119
Category                  773
Category Name            1462
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64
Unnamed: 0                   0
Invoice/Item Number          0
Date                         0
Store Number                 0
Store Name                   0
Address                    965
City                       965
Zip Code                  1010
Store Location             965
County Number            69336
County                   69336
Category                   350
Category Name             6100
Vendor Number                2
Vendor Name                  0
Item Number                  0
Item Description             0
Pack                         0
Bottle Volume (ml)           0
State Bottle Cost            0
State Bottle Retail          0
Bottles Sold                 0
Sale (Dollars)               0
Volume Sold (Liters)         0
Volume Sold (Gallons)        0
Year                         0
dtype: int64
Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                  1411
City                     1410
Zip Code                 1410
Store Location           1410
County Number            1410
County                   1410
Category                 5835
Category Name            5835
Vendor Number               1
Vendor Name                 1
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

In [12]:
y12.to_csv('cleany12.csv')
y13.to_csv('cleany13.csv')
y14.to_csv('cleany14.csv')
y15.to_csv('cleany15.csv')
y16.to_csv('cleany16.csv')
y17.to_csv('cleany17.csv')

In [44]:
#dummy dataframe to test functions
ytest17=y17

## Walkthrough of Reducing Nan Values

### For each column with nan values, I am concatenating 2 columns (1 being the target column with nan values, the other being a column with directly correlated data) across all 6 datasubsets to create a dataset for just the 2 columns by which a dictionary for each pair can be made to compare the full datasethat the rows with nan values can be run through, compared to, and hopefully filled in by.
### This assumes a 1:1 ratio between the two rows for accurate cleaning.

### Address

In [ ]:
#concatenating data from Store Number and Address columns
sall=pd.concat([y17[['Store Number','Address']],y16[['Store Number','Address']],y15[['Store Number','Address']],y14[['Store Number','Address']],y13[['Store Number','Address']],y12[['Store Number','Address']]])
#dropping all nan values from Address (there are no nons in the Store Number column)
sall=sall[sall['Address'].notna()]
#dropping all duplicate store number values 
sall.drop_duplicates(subset=['Store Number'],inplace=True)
#exporting to a file for easy future reference
sall.to_csv('storenumaddress.csv')

In [40]:
salldict={}
for i in sall['Store Number']:
    salldict[i]=sall[sall['Store Number']==i]['Address'].values[0]

In [8]:
#export to file if desired for future use
salldict.to_csv('allstoredict.csv')

In [47]:
# Using the created dictionary, I created a function that checks a row for nan values and attempts to replace them
def get_address(x,y):
    storelist=list(salldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return salldict[y]
    else:
        return x

In [241]:
#using the map function, I apply the function across all rows to clean the Store Location column across the entire datasubset
#this is an example of how that is done, the full application is done later in the file
ytest17['Address']=list(map(get_address,ytest17['Address'],ytest17['Store Number']))

### Store Location

In [181]:
slall=pd.concat([y17[['Store Number','Store Location']],y16[['Store Number','Store Location']],y15[['Store Number','Store Location']],y14[['Store Number','Store Location']],y13[['Store Number','Store Location']],y12[['Store Number','Store Location']]])
slall=slall[slall['Store Location'].notna()]
slall.drop_duplicates(subset=['Store Number'],inplace=True)
slall.to_csv('storenumlocation.csv')

In [185]:

slalldict={}
for i in slall['Store Number']:
    slalldict[i]=slall[slall['Store Number']==i]['Store Location'].values[0]

In [186]:
# Using the created dictionary, I created a function that checks a row for nan values and attempts to replace them
def get_store_location(x,y):
    storelist=list(slalldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return slalldict[y]
    else:
        return x

In [196]:
#this is an example of how that is done, the full application is done later in the file
ytest17['Store Location']=list(map(get_store_location,ytest17['Store Location'],ytest17['Store Number']))

### Zip Code

In [129]:
zipna=pd.concat([y17[['Store Number','Zip Code']],y16[['Store Number','Zip Code']],y15[['Store Number','Zip Code']],y14[['Store Number','Zip Code']],y13[['Store Number','Zip Code']],y12[['Store Number','Zip Code']]])
zipna=zipna[zipna['Zip Code'].notna()]
zipna.drop_duplicates(subset=['Store Number'],inplace=True)
zipna.to_csv('storenumzip.csv')

In [132]:
len(zipna)

1884

In [133]:
zipdict={}
for i in zipna['Store Number']:
    zipdict[i]=zipna[zipna['Store Number']==i]['Zip Code'].values[0]

In [134]:
def get_zip(x,y):
    storelist=list(zipdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return zipdict[y]
    else:
        return x

In [ ]:
#this is an example of how that is done, the full application is done later in the file
ytest17['Zip Code']=list(map(get_zip,ytest17['Zip Code'],ytest17['Store Number']))

### County

In [136]:
countyna=pd.concat([y17[['Store Number','County']],y16[['Store Number','County']],y15[['Store Number','County']],y14[['Store Number','County']],y13[['Store Number','County']],y12[['Store Number','County']]])
countyna=countyna[countyna['County'].notna()]
countyna.drop_duplicates(subset=['Store Number'],inplace=True)
countyna.to_csv('storenumcounty.csv')

In [139]:
len(countyna)

1883

In [465]:
ytest17[ytest17['City']=='Mason City']['County'].unique()

array(['CERRO GORD'], dtype=object)

In [466]:
len(ytest17[ytest17['County']=='CERRO GORD'])

27745

In [140]:
countydict={}
for i in countyna['Store Number']:
    countydict[i]=countyna[countyna['Store Number']==i]['County'].values[0]

In [141]:
def get_county(x,y):
    storelist=list(countydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countydict[y]
    else:
        return x

In [ ]:
#this is an example of how that is done, the full application is done later in the file
ytest17['County']=list(map(get_county,ytest17['County'],ytest17['Store Number']))

### County Number

In [150]:
countynumna=pd.concat([y17[['Store Number','County Number']],y16[['Store Number','County Number']],y15[['Store Number','County Number']],y14[['Store Number','County Number']],y13[['Store Number','County Number']],y12[['Store Number','County Number']]])
countynumna=countynumna[countynumna['County Number'].notna()]
countynumna.drop_duplicates(subset=['Store Number'],inplace=True)
countynumna.to_csv('storenumcountynum.csv')

In [153]:
len(countynumna)

1883

In [154]:
countynumdict={}
for i in countynumna['Store Number']:
    countynumdict[i]=countynumna[countynumna['Store Number']==i]['County Number'].values[0]

In [155]:
def get_county_number(x,y):
    storelist=list(countynumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countynumdict[y]
    else:
        return x

In [ ]:
#this is an example of how that is done, the full application is done later in the file
ytest17['County Number']=list(map(get_county_number,ytest17['County Number'],ytest17['Store Number']))

### City

In [157]:
cityna=pd.concat([y17[['Store Number','City']],y16[['Store Number','City']],y15[['Store Number','City']],y14[['Store Number','City']],y13[['Store Number','City']],y12[['Store Number','City']]])
cityna=cityna[cityna['City'].notna()]
cityna.drop_duplicates(subset=['Store Number'],inplace=True)
cityna.to_csv('storenumcity.csv')

In [160]:
len(cityna)

1884

In [161]:
citydict={}
for i in cityna['Store Number']:
    citydict[i]=cityna[cityna['Store Number']==i]['City'].values[0]

In [162]:
def get_city(x,y):
    storelist=list(citydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return citydict[y]
    else:
        return x

In [ ]:
#this is an example of how that is done, the full application is done later in the file
ytest17['City']=list(map(get_city,ytest17['City'],ytest17['Store Number']))

### Category

In [328]:
catna=pd.concat([y17[['Item Description','Category']],y16[['Item Description','Category']],y15[['Item Description','Category']],y14[['Item Description','Category']],y13[['Item Description','Category']],y12[['Item Description','Category']]])
catna=catna[catna['Category'].notna()]
catna.drop_duplicates(subset=['Item Description'],inplace=True)
catna.to_csv('idcategory.csv')

In [332]:
len(catna)

5795

In [333]:
catdict={}
for i in catna['Item Description']:
    catdict[i]=catna[catna['Item Description']==i]['Category'].values[0]

In [334]:
def get_category(x,y):
    storelist=list(catdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catdict[y]
    else:
        return x

In [335]:
#this is an example of how that is done, the full application is done later in the file
ytest17['Category']=list(map(get_category,ytest17['Category'],ytest17['Item Description']))

In [336]:
ytest17['Category'].isna().sum()

827

In [337]:
ytest17[ytest17['Category'].isna()]['Item Description'].unique()

array(["Galliano L'Autentico", 'Bains Cape Mountain Whiskey',
       'Don Pancho Origenes 8YR Rum', 'Barbados Rum 100ml',
       'Barbados Rum 1 Liter', 'Barbados Rum 200 ml',
       'Barbados Rum 375ml', 'Barbados Rum 50ml', 'Barbados Rum 750ml',
       'Spanish Single Malt 100ml', 'Spanish Single Malt 1 Liter',
       'Spanish Single Malt 375ml', 'Spanish Single Malt 50ml',
       'Spanish Single Malt 750ml', 'Spanish Single Malt 200ml',
       'Deep Eddy  Lemon Vodka', 'Diplomatico Reserva Exclusiva',
       'Grand Teton Vodka', '"Beefeater ""24"""', 'Athena Liq Ouzo Rum',
       'Glenmorangie Bacalta HA', 'Valentine Vodka', 'Ansac VS  Cognac',
       'Aalborg Jubilaeums Aquavit', 'Patron Silver 750 Box Tray Pack',
       'Patron Citronge Mango', 'Lairds Old Apple Brandy 7YR',
       'Green Absinthe', 'Red Absinthe', 'Deanston Organic 14YR',
       'Calvados Morin Selection 3YR',
       'Seven Devils Straight Bourbon Whiskey HA', 'HA Seven Devils',
       'Don Amado Mezcal Rustico', 'HA Michters US*1 Small Batch',
       'HA Orphan Barrel Barterhouse', 'HA Orphan Barrel Forged Oak',
       'Rothman & Winter Orchard Peach',
       'HA Abraham Bowman Wine Finish Whiskey',
       'HA Highland Park Ice Edition', 'HA Pikesville Rye 110prf',
       'HA Johnnie Walker Private Collection 2014 Smoke',
       'Old Forester 1920', 'Jose Cuervo Especial Silver/Flask',
       'Jose Cuervo Especial Gold /Flask', 'Ron Abuelo Anejo 7YR',
       "Aberlour A''bunadh", 'El Mayor Extra Anejo 100% Agave',
       'Ezra Brooks Bourbon Cream Mini', "Michter's US*1 SB Rye",
       'Glen Moray Scotch Classic Port Cask w/2 Glasses',
       'HA Laphroaig 25YR Cask Strength', 'Ron Abuelo 12YR',
       'Zaya Gran Reserva Rum w/2 Rocks Glasses',
       'Corralejo Silver w/2 Sangrita Glasses',
       'Southern Comfort w/2 Rock Glasses',
       'Crystal Head Vodka w/2 Skull Glasses', 'Hornitos Plata w/Glasses',
       'Hornitos Reposado w/Glasses',
       'Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'],
      dtype=object)

### Category Name

In [250]:
catnamena=pd.concat([y17[['Item Description','Category Name']],y16[['Item Description','Category Name']],y15[['Item Description','Category Name']],y14[['Item Description','Category Name']],y13[['Item Description','Category Name']],y12[['Item Description','Category Name']]])
catnamena=catnamena[catnamena['Category Name'].notna()]
catnamena.drop_duplicates(subset=['Item Description'],inplace=True)
catnamena.to_csv('idcategoryname.csv')

In [253]:
len(catnamena)

5758

In [254]:
catnamedict={}
for i in catnamena['Item Description']:
    catnamedict[i]=catnamena[catnamena['Item Description']==i]['Category Name'].values[0]

In [255]:
def get_category_name(x,y):
    storelist=list(catnamedict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catnamedict[y]
    else:
        return x

In [287]:
#this is an example of how that is done, the full application is done later in the file
ytest17['Category Name']=list(map(get_category_name,ytest17['Category Name'],ytest17['Item Description']))

In [249]:
ytest17.isna().sum()

AttributeError: 'list' object has no attribute 'isna'

### Vendor Name

In [268]:
vennumna=pd.concat([y17[['Item Description','Vendor Name']],y16[['Item Description','Vendor Name']],y15[['Item Description','Vendor Name']],y14[['Item Description','Vendor Name']],y13[['Item Description','Vendor Name']],y12[['Item Description','Vendor Name']]])
vennumna=vennumna[vennumna['Vendor Name'].notna()]
vennumna.drop_duplicates(subset=['Item Description'],inplace=True)
vennumna.to_csv('storenumvendorname.csv')

In [271]:
len(vennumna)

5865

In [272]:
vennumnadict={}
for i in vennumna['Item Description']:
    vennumnadict[i]=vennumna[vennumna['Item Description']==i]['Vendor Name'].values[0]

In [273]:
def get_vendor_name(x,y):
    storelist=list(vennumnadict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumnadict[y]
    else:
        return x

In [274]:
#this is an example of how that is done, the full application is done later in the file
ytest17['Vendor Name']=list(map(get_vendor_name,ytest17['Vendor Name'],ytest17['Item Description']))

### Vendor Number

In [257]:
vennum=pd.concat([y17[['Item Description','Vendor Number']],y16[['Item Description','Vendor Number']],y15[['Item Description','Vendor Number']],y14[['Item Description','Vendor Number']],y13[['Item Description','Vendor Number']],y12[['Item Description','Vendor Number']]])
vennum=vennum[vennum['Vendor Number'].notna()]
vennum.drop_duplicates(subset=['Item Description'],inplace=True)
vennum.to_csv('storenumvendornumber.csv')

In [260]:
len(vennum)

5863

In [261]:
vennumdict={}
for i in vennum['Item Description']:
    vennumdict[i]=vennum[vennum['Item Description']==i]['Vendor Number'].values[0]

In [262]:
def get_vendor_number(x,y):
    storelist=list(vennumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumdict[y]
    else:
        return x

In [ ]:
#this is an example of how that is done, the full application is done later in the file
ytest17['Vendor Name']=list(map(get_vendor_name,ytest17['Vendor Number'],ytest17['Item Description']))

# Combining all functions and dictionaries

In [268]:
sall=pd.concat([y17[['Store Number','Address']],y16[['Store Number','Address']],y15[['Store Number','Address']],y14[['Store Number','Address']],y13[['Store Number','Address']],y12[['Store Number','Address']]])
sall=sall[sall['Address'].notna()]
sall.drop_duplicates(subset=['Store Number'],inplace=True)
slall=pd.concat([y17[['Store Number','Store Location']],y16[['Store Number','Store Location']],y15[['Store Number','Store Location']],y14[['Store Number','Store Location']],y13[['Store Number','Store Location']],y12[['Store Number','Store Location']]])
slall=slall[slall['Store Location'].notna()]
slall.drop_duplicates(subset=['Store Number'],inplace=True)
zipna=pd.concat([y17[['Store Number','Zip Code']],y16[['Store Number','Zip Code']],y15[['Store Number','Zip Code']],y14[['Store Number','Zip Code']],y13[['Store Number','Zip Code']],y12[['Store Number','Zip Code']]])
zipna=zipna[zipna['Zip Code'].notna()]
zipna.drop_duplicates(subset=['Store Number'],inplace=True)
countyna=pd.concat([y17[['Store Number','County']],y16[['Store Number','County']],y15[['Store Number','County']],y14[['Store Number','County']],y13[['Store Number','County']],y12[['Store Number','County']]])
countyna=countyna[countyna['County'].notna()]
countyna.drop_duplicates(subset=['Store Number'],inplace=True)
countynumna=pd.concat([y17[['Store Number','County Number']],y16[['Store Number','County Number']],y15[['Store Number','County Number']],y14[['Store Number','County Number']],y13[['Store Number','County Number']],y12[['Store Number','County Number']]])
countynumna=countynumna[countynumna['County Number'].notna()]
countynumna.drop_duplicates(subset=['Store Number'],inplace=True)
cityna=pd.concat([y17[['Store Number','City']],y16[['Store Number','City']],y15[['Store Number','City']],y14[['Store Number','City']],y13[['Store Number','City']],y12[['Store Number','City']]])
cityna=cityna[cityna['City'].notna()]
cityna.drop_duplicates(subset=['Store Number'],inplace=True)
catna=pd.concat([y17[['Item Description','Category']],y16[['Item Description','Category']],y15[['Item Description','Category']],y14[['Item Description','Category']],y13[['Item Description','Category']],y12[['Item Description','Category']]])
catna=catna[catna['Category'].notna()]
catna.drop_duplicates(subset=['Item Description'],inplace=True)
catnamena=pd.concat([y17[['Item Description','Category Name']],y16[['Item Description','Category Name']],y15[['Item Description','Category Name']],y14[['Item Description','Category Name']],y13[['Item Description','Category Name']],y12[['Item Description','Category Name']]])
catnamena=catnamena[catnamena['Category Name'].notna()]
catnamena.drop_duplicates(subset=['Item Description'],inplace=True)
vennumna=pd.concat([y17[['Item Description','Vendor Name']],y16[['Item Description','Vendor Name']],y15[['Item Description','Vendor Name']],y14[['Item Description','Vendor Name']],y13[['Item Description','Vendor Name']],y12[['Item Description','Vendor Name']]])
vennumna=vennumna[vennumna['Vendor Name'].notna()]
vennumna.drop_duplicates(subset=['Item Description'],inplace=True)
vennum=pd.concat([y17[['Item Description','Vendor Number']],y16[['Item Description','Vendor Number']],y15[['Item Description','Vendor Number']],y14[['Item Description','Vendor Number']],y13[['Item Description','Vendor Number']],y12[['Item Description','Vendor Number']]])
vennum=vennum[vennum['Vendor Number'].notna()]
vennum.drop_duplicates(subset=['Item Description'],inplace=True)

In [ ]:
sall.to_csv('storenumaddress.csv')
slall.to_csv('storenumlocation.csv')
zipna.to_csv('storenumzip.csv')
countyna.to_csv('storenumcounty.csv')
countynumna.to_csv('storenumcountynum.csv')
cityna.to_csv('storenumcity.csv')
catna.to_csv('idcategory.csv')
catnamena.to_csv('idcategoryname.csv')
vennumna.to_csv('storenumvendorname.csv')
vennum.to_csv('storenumvendornumber.csv')

In [185]:
vennumdict={}
for i in vennum['Item Description']:
    vennumdict[i]=vennum[vennum['Item Description']==i]['Vendor Number'].values[0]
vennumnadict={}
for i in vennumna['Item Description']:
    vennumnadict[i]=vennumna[vennumna['Item Description']==i]['Vendor Name'].values[0]
catnamedict={}
for i in catnamena['Item Description']:
    catnamedict[i]=catnamena[catnamena['Item Description']==i]['Category Name'].values[0]
catdict={}
for i in catna['Item Description']:
    catdict[i]=catna[catna['Item Description']==i]['Category'].values[0]
citydict={}
for i in cityna['Store Number']:
    citydict[i]=cityna[cityna['Store Number']==i]['City'].values[0]
countynumdict={}
for i in countynumna['Store Number']:
    countynumdict[i]=countynumna[countynumna['Store Number']==i]['County Number'].values[0]
slalldict={}
for i in slall['Store Number']:
    slalldict[i]=slall[slall['Store Number']==i]['Store Location'].values[0]
salldict={}
for i in sall['Store Number']:
    salldict[i]=sall[sall['Store Number']==i]['Address'].values[0]
zipdict={}
for i in zipna['Store Number']:
    zipdict[i]=zipna[zipna['Store Number']==i]['Zip Code'].values[0]
countydict={}
for i in countyna['Store Number']:
    countydict[i]=countyna[countyna['Store Number']==i]['County'].values[0]

In [454]:
def category_name2(x,y):
    if (pd.isna(x)):
        if (y=="Galliano L'Autentico"):
            return 'MISC. IMPORTED CORDIALS & LIQUEURS'
        elif (y=='Spanish Single Malt 100ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 1 Liter'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 375ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 50ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 750ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 200ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Deep Eddy  Lemon Vodka'):
            return 'VODKA FLAVORED'
        elif (y=='"Beefeater ""24"""'):
            return 'IMPORTED DRY GINS'
        elif (y=='Ansac VS  Cognac'):
            return 'Imported Brandies'
        elif (y=='Aalborg Jubilaeums Aquavit'):
            return 'Imported Cordials & Liqueur'
        elif (y=='Patron Silver 750 Box Tray Pack'):
            return 'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Patron Citronge Mango'):
            return '100% Agave Tequila'
        elif (y=='Deanston Organic 14YR'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='HA Orphan Barrel Barterhouse'):
            return 'STRAIGHT BOURBON WHISKIES'
        elif (y=='HA Orphan Barrel Forged Oak'):
            return 'STRAIGHT BOURBON WHISKIES'
        elif (y=='Rothman & Winter Orchard Peach'):
            return 'MISC. IMPORTED CORDIALS & LIQUEURS'
        elif (y=='HA Pikesville Rye 110prf'):
            return 'STRAIGHT RYE WHISKIES'
        elif (y=='HA Johnnie Walker Private Collection 2014 Smoke'):
            return 'SCOTCH WHISKIES'
        elif (y=='Jose Cuervo Especial Silver/Flask'):
            return 'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Jose Cuervo Especial Gold /Flask'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=="Aberlour A''bunadh"):
            return 'SINGLE MALT SCOTCH'
        elif (y=='El Mayor Extra Anejo 100% Agave'):
            return 'TEQUILA'
        elif (y=='Ezra Brooks Bourbon Cream Mini'):
            return 'Temporary & Specialty Packages'
        elif (y=="Michter's US*1 SB Rye"):
            return 'STRAIGHT RYE WHISKIES'
        elif (y=='Glen Moray Scotch Classic Port Cask w/2 Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Zaya Gran Reserva Rum w/2 Rocks Glasses'):
            return   'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Corralejo Silver w/2 Sangrita Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Southern Comfort w/2 Rock Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Crystal Head Vodka w/2 Skull Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Hornitos Plata w/Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Hornitos Reposado w/Glasses'):
            return   'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        else:
            return x
    else:
        return x
              

def category2(x,y):
    if (pd.isna(x)):
        if (y=="Galliano L'Autentico"):
            return '1082900.'
        elif (y=='Spanish Single Malt 100ml'):
            return '1012210.'
        elif (y=='Spanish Single Malt 1 Liter'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 375ml'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 50ml'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 750ml'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 200ml'):
            return  '1012210.'
        elif (y=='Deep Eddy Lemon Vodka'):
            return '1031200.'
        elif (y=='"Beefeater ""24"""'):
            return '1042100.'
        elif (y=='Ansac VS  Cognac'):
            return '1052100.'
        elif (y=='Aalborg Jubilaeums Aquavit'):
            return '1082100.'
        elif (y=='Patron Silver 750 Box Tray Pack'):
            return  '1701100.'
        elif (y=='Patron Citronge Mango'):
            return '1022200.'
        elif (y=='Deanston Organic 14YR'):
            return '1012210.'
        elif (y=='HA Orphan Barrel Barterhouse'):
            return '1011200.'
        elif (y=='HA Orphan Barrel Forged Oak'):
            return '1011200.'
        elif (y=='Rothman & Winter Orchard Peach'):
            return '1082900.'
        elif (y=='HA Pikesville Rye 110prf'):
            return '1011500.'
        elif (y=='HA Johnnie Walker Private Collection 2014 Smoke'):
            return '1012200.'
        elif (y=='Jose Cuervo Especial Silver/Flask'):
            return '1701100.'
        elif (y=='Jose Cuervo Especial Gold /Flask'):
            return '1701100.'
        elif (y=="Aberlour A''bunadh"):
            return '1012210.'
        elif (y=='El Mayor Extra Anejo 100% Agave'):
            return '1022100.'
        elif (y=='Ezra Brooks Bourbon Cream Mini'):
            return '1701100.'
        elif (y=="Michter's US*1 SB Rye"):
            return '1011500.'
        elif (y=='Glen Moray Scotch Classic Port Cask w/2 Glasses'):
            return '1701100.'
        elif (y=='Zaya Gran Reserva Rum w/2 Rocks Glasses'):
            return  '1701100.'
        elif (y=='Corralejo Silver w/2 Sangrita Glasses'):
            return '1701100.'
        elif (y=='Southern Comfort w/2 Rock Glasses'):
            return '1701100.'
        elif (y=='Crystal Head Vodka w/2 Skull Glasses'):
            return '1701100.'
        elif (y=='Hornitos Plata w/Glasses'):
            return '1701100.'
        elif (y=='Hornitos Reposado w/Glasses'):
            return  '1701100.'
        elif (y=='Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'):
            return '1701100.'
        else:
            return x
    else:
        return x

In [47]:
def get_category_name(x,y):
    storelist=list(catnamedict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catnamedict[y]
    else:
        return x
def get_category(x,y):
    storelist=list(catdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catdict[y]
    else:
        return x
def get_address(x,y):
    storelist=list(salldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return salldict[y]
    else:
        return x
def get_store_location(x,y):
    storelist=list(slalldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return slalldict[y]
    else:
        return x
def get_zip(x,y):
    storelist=list(zipdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return zipdict[y]
    else:
        return x
def get_county(x,y):
    storelist=list(countydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countydict[y]
    else:
        return x
def get_county_number(x,y):
    storelist=list(countynumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countynumdict[y]
    else:
        return x
def get_city(x,y):
    storelist=list(citydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return citydict[y]
    else:
        return x
def get_vendor_name(x,y):
    storelist=list(vennumnadict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumnadict[y]
    else:
        return x
def get_vendor_number(x,y):
    storelist=list(vennumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumdict[y]
    else:
        return x

# For exceptions with Nan Values where the dictionary method did not work, functions are made to manually replace Nan values

In [200]:
ytest17[ytest17['Vendor Number'].isna()]['Item Description'].unique()

array(['Laphroaig Quarter Cask'], dtype=object)

In [201]:
ytest17[ytest17['Vendor Name'].isna()]['Item Description'].unique()

array(['Laphroaig Quarter Cask'], dtype=object)

In [213]:
ytest17[ytest17['Item Description']=='Laphroaig Quarter Cask']['Vendor Name'].unique()

array([nan, 'Jim Beam Brands'], dtype=object)

In [212]:
ytest17[ytest17['Item Description']=='Laphroaig Quarter Cask']['Vendor Number'].unique()

array([nan, 65.])

In [ ]:
def vendor_name(x,y):
    if (pd.isna(x)) and (y=='Laphroaig Quarter Cask'):
        return 'Jim Beam Brands'
    else:
        return x

def vendor_number(x,y):
    if (pd.isna(x)) and (y=='Laphroaig Quarter Cask'):
        return '65.'
    else:
        return x

In [211]:
#checking results of manual replacement
ytest17[ytest17['Item Description']=='Laphroaig Quarter Cask']

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
462689,11170669,INV-03923100001,03/22/2017,2556,Hy-Vee Wine and Spirits / Estherville,2608 E. Central Avenue\nEstherville 51334\n,Estherville,51334.0,2608 E. Central Avenue\nEstherville 51334\n,32.0,EMMET,1012200.0,Scotch Whiskies,NaN,NaN,905433,Laphroaig Quarter Cask,6,750,$4.17,$47.24,1,$283.44,0.75,0.19,17
1495748,12203728,INV-06985200114,08/30/2017,2614,Hy-Vee #3 Food and Drugstore,1823 E Kimberly Rd\nDavenport 52807\n(41.55678...,Davenport,52807.0,1823 E Kimberly Rd\nDavenport 52807\n(41.55678...,82.0,SCOTT,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,1,$283.44,0.75,0.19,17
1532764,12240744,INV-07086700037,09/06/2017,2625,Hy-Vee Wine and Spirits #2,3301 W Kimberly Rd\nDavenport 52804\n,Davenport,52804.0,3301 W Kimberly Rd\nDavenport 52804\n,82.0,SCOTT,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,1,$47.24,0.75,0.19,17
1533550,12241530,INV-07088500003,09/06/2017,5003,Famous Liquors,"2604 W Locust St\nDavenport 52804\n(41.538186,...",Davenport,52804.0,"2604 W Locust St\nDavenport 52804\n(41.538186,...",82.0,SCOTT,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,2,$47.24,1.50,0.39,17
1578417,12286397,INV-07219300028,09/13/2017,4129,Cyclone Liquors,"626 Lincoln Way\nAmes 50010\n(42.022854, -93.6...",Ames,50010.0,"626 Lincoln Way\nAmes 50010\n(42.022854, -93.6...",85.0,STORY,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,1,$283.44,0.75,0.19,17
1620576,12328556,INV-07348800002,09/20/2017,2233,Forbes Liquor Locker / remi,2508 Enterprise Ave\nSpirit Lake 51360\n(43.41...,Spirit Lake,51360.0,2508 Enterprise Ave\nSpirit Lake 51360\n(43.41...,30.0,DICKINSON,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,2,$47.24,1.50,0.39,17
1663941,12371921,INV-07485100010,09/27/2017,2501,Hy-Vee #2 / Ames,"640 Lincolnway\nAmes 50010\n(42.022848, -93.61...",Ames,50010.0,"640 Lincolnway\nAmes 50010\n(42.022848, -93.61...",85.0,STORY,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,1,$283.44,0.75,0.19,17
1705681,12413661,INV-07650100011,10/04/2017,2233,Forbes Liquor Locker / remi,2508 Enterprise Ave\nSpirit Lake 51360\n(43.41...,Spirit Lake,51360.0,2508 Enterprise Ave\nSpirit Lake 51360\n(43.41...,30.0,DICKINSON,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,1,$47.24,0.75,0.19,17
1767730,12475710,INV-07946500008,10/12/2017,2535,Hy-Vee Food Store #1 / WDM,1700 Valley West Dr\nWest Des Moines 50265\n,West Des Moines,50265.0,1700 Valley West Dr\nWest Des Moines 50265\n,77.0,POLK,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,2,$47.24,1.50,0.39,17
1790130,12498110,INV-08049400116,10/17/2017,2619,Hy-Vee Wine and Spirits / WDM,1725 74th St\nWest Des Moines 50266\n(41.59851...,West Des Moines,50266.0,1725 74th St\nWest Des Moines 50266\n(41.59851...,77.0,POLK,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,2,$47.24,1.50,0.39,17

In [286]:
catnamena[catnamena['Item Description']=='Barbados Rum']['Category Name'].unique()

array([], dtype=object)

In [358]:
catnamena[catnamena['Item Description'].str.contains('thena')]['Item Description'].unique()

array([], dtype=object)

In [303]:
y17[y17['Category Name'].notna() & y17['Category Name'].str.contains('Rum')]['Category Name'].unique()

array(['White Rum', 'Spiced Rum', 'Gold Rum', 'Flavored Rum',
       'Aged Dark Rum'], dtype=object)

In [307]:
y17[(y17['Category Name']=='White Rum') | (y17['Category Name']=='Spiced Rum') | (y17['Category Name']=='Gold Rum') | (y17['Category Name']=='Flavored Rum') | (y17['Category Name']=='Aged Dark Rum')]['Item Description'].unique()

array(['Barton Rum Light', 'Captain Morgan Spiced Rum',
       'Bacardi Superior Rum', 'Bacardi Oakheart',
       'Appleton Signature Blend', 'Sailor Jerry Spiced Navy Rum',
       'Paramount White Rum', 'Malibu Coconut Rum',
       'Bacardi Gold Rum Mini', 'Captain Morgan Silver Spiced Rum',
       'Captain Morgan Spiced Rum Pet', 'Captain Morgan Spiced Rum Mini',
       'Captain Morgan Original Spiced', 'Blue Chair Bay Coconut',
       'Bacardi Limon', 'Bacardi Mango',
       'Captain Morgan Parrot Bay Pineapple', 'Bacardi Dragon Berry',
       'Bacardi Pineapple', 'Bacardi Gold Rum',
       'Captain Morgan Cannon Blast', 'Admiral Nelson Spiced Rum',
       'Captain Morgan Black Spiced',
       'Captain Morgan Original Spiced Rum Pet', 'Captain Morgan White',
       'Cruzan Dark Rum', 'Rondiaz Rum White', 'Malibu Coconut Rum Mini',
       'Malibu Pineapple Rum', 'Bacardi Superior Rum Mini',
       'Captain Morgan 100 Proof Spiced Rum', 'Captain Morgan Pineapple',
       'Malibu Pineapple Upside Down Cake',
       'Captain Morgan Spiced Barrel',
       'Captain Morgan Parrot Bay Coconut', 'Bacardi Superior PET',
       'Lady Bligh Spiced Rum', 'Bacardi Superior Rum Pet',
       'Admiral Nelson Cherry Spiced Rum', 'Phillips White Rum',
       'Cruzan Mango Rum', 'Paramount Gold Rum',
       'Malibu Passion Fruit Rum', 'Malibu Black', 'Bacardi Black',
       'Captain Morgan Private Stock', 'Kraken Black Spiced Rum',
       'Admiral Nelson Spiced Rum Mini', 'Hawkeye Light Rum',
       "Myers's Rum Original Dark", 'Admiral Nelson Spiced Rum Traveler',
       'Ronrico Silver Label Rum (pr)', 'Rondiaz Rum Spiced',
       'Kraken Black Spiced 70prf', 'Kraken Black Spiced Rum 70prf',
       'Blackheart Premium Spiced Rum', 'Calico Jack Spiced',
       'Admiral Nelson Coconut Rum', 'Cruzan Black Cherry Rum',
       'Paramount Gold Rum Traveler', 'Captain Morgan Cannon Blast Mini',
       'Bacardi Grapefruit', 'Mt. Gay Eclipse Rum', 'Bacardi O',
       'Captain Morgan White Mini', 'Castillo Silver Rum',
       'Rondiaz Rum Spiced Black Cherry', "Gosling's Black Seal",
       'Admiral Nelson Spiced 101', 'Captain Morgan 1671',
       'Cruzan Coconut Rum', 'Paramount White Rum Traveler',
       'Don Q Cristal Rum', 'Cruzan 151', 'Cruzan Vanilla Rum',
       'Paradise Island Bay', 'Captain Morgan Parrot Bay Passion Fruit',
       'Captain Morgan Lime Bite', 'Bacardi 8 Rum', 'Zaya Guatemalan Rum',
       'Cruzan Raspberry Rum', 'Cruzan Strawberry Rum',
       'Paradise Distilling Raspberry Bay Liqueur', 'Malibu Island Melon',
       'Captain Morgan White PET', 'Captain Morgan Coconut',
       'Paradise Distilling Coconut Bay Liqueur', 'Malibu Mango Rum',
       'Bacardi Raspberry', 'Bacardi Torched Cherry',
       'Cedar Ridge Dark Rum', 'Cedar Ridge Lost Pirate Port Finish Rum',
       'Ron Zacapa 23 Year', 'Mt. Gay Black Barrel',
       'Blue Chair Bay Banana', 'Blue Chair Bay Coconut Spiced',
       'Bacardi Gran Reserva Maestro',
       'Trader Vics Private Selection Spiced Rum', "Five O'clock",
       'Calico Jack Cherry', 'Captain Morgan Parrot Bay Orange',
       'Captain Morgan Parrot Bay Mango', 'Bacardi Gold Rum Pet',
       'Captain Morgan Grapefruit', 'Cruzan Light Rum',
       'Blue Chair Bay White', 'Havana Club Anejo Clasico Mini',
       'Havana Club Anejo Blanco Mini', 'Captain Morgan Pineapple Mini',
       'Havana Club Anejo Blanco', 'Calico Jack', 'Rondiaz Mini',
       'Captain Morgan Parrot Bay Key Lime',
       'Captain Morgan Parrot Bay Strawberry',
       'Cruzan Blueberry Lemonade', 'Admiral Nelson Black Patch',
       'Admiral Nelson Black Patch Mini', 'Malibu Red',
       'Bacardi Gold Rum PET', 'Captain Morgan Private Stock Rum',
       'Clearheart Rum', 'Castillo Spiced Rum',
       'Havana Club Anejo Clasico', 'Steel Drum', 'Bacardi Tangerine',
       "British Navy Pusser's Rum", 'Cane Rune White Rum Mini',
       'Cane Run White Rum', 'Havana Judge Spiced Rum',
       'Kraken Black Mini', 'Flor De Cana White', 'Artisan Grain Silver',
       'Paradise White Sand', 'Paradise Distilling Mango Bay Liqueur',
       'Bayou Spiced Rum', 'Cachaca 51', 'Artisan Grain Gold Rum',
       'Captain Morgan Loconut Mini', 'Captain Morgan Loconut',
       "Caribbean's Finest Rum Caramel", "Caribbean's Finest Rum Coconut",
       "Caribbean's Finest Rum Ginger",
       "Caribbean's Finest Rum Gran Reserva",
       "Caribbean's Finest Rum Orange",
       "Caribbean's Finest Rum Pineapple", 'Brugal Especial Extra Dry',
       'El Dorado Special Reserve 12YR', 'Don Q 151',
       'Paradise Caribbean Mist', 'Breckenridge Spiced Rum',
       'Goslings Gold Seal', 'Kirk & Sweeney 12YR Old Anejo',
       'Bayou Satsuma Rum Liqueur', 'Ron Barcelo Gran Anejo',
       'Vizcaya Black Rum',
       "Sammy's Beach Bar Rum Red Head (Macadamia Nut)",
       'Barton Gold Rum 1.75', 'Bayou Silver White Rum',
       'Cruzan Light Mini', 'Koloa Hawaiian Kauai Coffee Rum',
       'Cruzan Citrus', 'Bacardi Banana Mini', 'Bacardi Oakheart Mini',
       'Don Q Limon', "Pusser's Gunpowder Proof Rum",
       'El Dorado 15 Year Old Special Reserve Rum', 'Bacardi Banana',
       'Bacardi Classic Cocktail Rum Punch', 'Cruzan Passion Fruit',
       'Rondiaz DSS Lemon Rum', 'Blue Chair Bay Vanilla Rum',
       "Caribbean's Finest Rum Grapefruit", 'Sugar Island Rum Coconut',
       'Cruzan Tropical Fruit', 'Rondiaz Rum Dark',
       'Beach Bonfire Cinnamon Whiskey', 'Beach Island Coconut Whiskey',
       'Malibu w/Dole Pineapple Juice',
       'Starr Oak Aged 7 year African Rum', 'J Wray Silver',
       "Holstein Single Barrel Sippin' Rum", 'Prichards Peach Mango Rum',
       'Malibu 1.75L w/Pineapple VAP Giant Tray Pack',
       'Cruzan Black Cherry', 'La Hechicera Aged Rum', 'Rogue Dark Rum',
       'Kirkland Signature Original Spiced Rum', 'Flor De Cana Gold',
       'Admiral Nelson Pineapple Rum', 'Caliber Spiced Rum',
       'Caliber Silver Rum', 'Holy Hell',
       'Blue Chair Bay Coconut Spiced Rum Cream', 'JM VSOP',
       'Novo Fogo Silver Cachaa', 'Flor De Cana 12yr Centenario',
       'Admiral Nelson Pineapple', 'RumHaven', 'Admiral Nelson Vanilla',
       'Admiral Nelson  101 Mini', 'Members Mark Silver Rum Tray Pack',
       'Ron Abuelo Anejo', 'Cruzan Blackstrap', 'Clement VSOP Aged Rum',
       'Sailor Jerry Game Day VAP', 'Captain Morgan Jack-O Blast Mini',
       'Papas Pilar Dark Rum',
       'Captain Morgan 1.75L Retail Ready 3pk Shipper',
       'Tattersall Distilling Blackstrap Rum', 'Commanders Spiced Rum',
       'Commanders Silver Aged 1YR', 'Papas Pilar Blonde Rum', 'Cruzan 9',
       'Bumbu Rum', 'El Dorado 8YR', 'Ron Barcelo Imperial',
       'Lemon Hart 1804 Original', 'Lemon Hart 151'], dtype=object)

In [379]:
y17[y17['Item Description'].str.contains('Patron Guillermo Del Toro Extra Anejo & Orange')]['Category Name'].unique()

array(['100% Agave Tequila'], dtype=object)

In [446]:
catnamena[catnamena['Item Description'].str.contains('El Mayor Extra Anejo')]['Item Description'].unique()

array(['El Mayor Extra Anejo', 'El Mayor Extra Anejo 100% Agave HA'],
      dtype=object)

In [448]:
catnamena[catnamena['Item Description'].str.contains('El Mayor Extra Anejo 100% Agave HA')]['Category Name'].unique()

array(['TEQUILA'], dtype=object)

In [439]:
catna[catna['Item Description'].str.contains('Michter')]['Category'].unique()

array([1011200., 1901200., 1011600., 1011500.])

In [449]:
y17[y17['Category Name']=='TEQUILA']['Category'].unique()

array([1022100.])

## Compiling results of manual search and replacement of nan values

In [451]:
def county_name(x,y):
    if (pd.isna(x)) and (y=='GUTTENBERG'):
        return 'Clayton'
    elif (pd.isna(x)) and (y=='BELMOND'):
        return 'Wright'
    else:
        return x
    
def county_number(x,y):
    if (pd.isna(x)) and (y=='GUTTENBERG'):
        return '22.'
    elif (pd.isna(x)) and (y=='BELMOND'):
        return '99.'
    else:
        return x

    
def category_name(x,y):
    if (pd.isna(x)) and (y=='Herradura Gold Reposado 6pak'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=='Evan Williams Egg Nog'):
        return 'CREAM LIQUEURS'
    elif (pd.isna(x)) and (y=="Carolan's Irish Cream w/2 Bowls"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Rogue Dark Rum'):
        return 'AGED DARK RUM'
    elif (pd.isna(x)) and (y=='Ultimat Vodka'):
        return 'IMPORTED VODKA'
    elif (pd.isna(x)) and (y=='Herradura Anejo Tequila'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=="Whaler's Original Dark Rum"):
        return 'SPECIAL ORDER ITEMS'
    elif (pd.isna(x)) and (y=="Wild Turkey American Honey Shot Tap"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=="Chambord Liqueur w/2 Glasses"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Gentleman Jack w/2 Glasses'):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Caravella Limoncello w/Glass'):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Craigellachie'):
        return 'SCOTCH WHISKIES'
    elif (pd.isna(x)) and (y=='Glenfiddich 1963 Replica HA'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Pinnacle Candy Cane Trial Pack'):
        return 'Holiday VAP'
    elif (pd.isna(x)) and (y=='Dry Fly Gin'):
        return 'AMERICAN DRY GINS'
    elif (pd.isna(x)) and (y=="Galliano L'Autentico"):
        return 'MISC. IMPORTED CORDIALS & LIQUEURS'
    elif (pd.isna(x)) and (y=='1800 Reposado'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=='Grand Marnier Cuvee 1880 HA'):
        return 'Imported Cordials & Liqueur'
    elif (pd.isna(x)) and (y=='Courvoisier Gold'):
        return 'MISC. IMPORTED CORDIALS & LIQUEURS'
    elif (pd.isna(x)) and (y=='Ardbeg Auriverdes HA'):
        return 'SINGLE MALT SCOTCH'
    else:
        return x
    
def category(x,y):
    if (pd.isna(x)) and (y=='Evan Williams Egg Nog'):
        return '1081200.'
    elif (pd.isna(x)) and (y=="Carolan's Irish Cream w/2 Bowls"):
        return '1701100.'
    elif (pd.isna(x)) and (y=="Wild Turkey American Honey Shot Tap"):
        return '1701100.'
    elif (pd.isna(x)) and (y=="Chambord Liqueur w/2 Glasses"):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Gentleman Jack w/2 Glasses'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Caravella Limoncello w/Glass'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Craigellachie'):
        return '1012200.'
    elif (pd.isna(x)) and (y=='Glenfiddich 1963 Replica HA'):
        return '1012210.'
    elif (pd.isna(x)) and (y=='Pinnacle Candy Cane Trial Pack'):
        return '1701200.'
    elif (pd.isna(x)) and (y=='Dry Fly Gin'):
        return '1041100.'
    elif (pd.isna(x)) and (y=="Galliano L'Autentico"):
        return '1082900.'
    elif (pd.isna(x)) and (y=='1800 Reposado'):
        return '1022200.'
    elif (pd.isna(x)) and (y=='Grand Marnier Cuvee 1880 HA'):
        return '1082100.'
    elif (pd.isna(x)) and (y=='Courvoisier Gold'):
        return '1082900.'
    elif (pd.isna(x)) and (y=='Ardbeg Auriverdes HA'):
        return '1012210.'
    else:
        return x

In [454]:
def category_name2(x,y):
    if (pd.isna(x)):
        if (y=="Galliano L'Autentico"):
            return 'MISC. IMPORTED CORDIALS & LIQUEURS'
        elif (y=='Spanish Single Malt 100ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 1 Liter'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 375ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 50ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 750ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 200ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Deep Eddy  Lemon Vodka'):
            return 'VODKA FLAVORED'
        elif (y=='"Beefeater ""24"""'):
            return 'IMPORTED DRY GINS'
        elif (y=='Ansac VS  Cognac'):
            return 'Imported Brandies'
        elif (y=='Aalborg Jubilaeums Aquavit'):
            return 'Imported Cordials & Liqueur'
        elif (y=='Patron Silver 750 Box Tray Pack'):
            return 'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Patron Citronge Mango'):
            return '100% Agave Tequila'
        elif (y=='Deanston Organic 14YR'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='HA Orphan Barrel Barterhouse'):
            return 'STRAIGHT BOURBON WHISKIES'
        elif (y=='HA Orphan Barrel Forged Oak'):
            return 'STRAIGHT BOURBON WHISKIES'
        elif (y=='Rothman & Winter Orchard Peach'):
            return 'MISC. IMPORTED CORDIALS & LIQUEURS'
        elif (y=='HA Pikesville Rye 110prf'):
            return 'STRAIGHT RYE WHISKIES'
        elif (y=='HA Johnnie Walker Private Collection 2014 Smoke'):
            return 'SCOTCH WHISKIES'
        elif (y=='Jose Cuervo Especial Silver/Flask'):
            return 'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Jose Cuervo Especial Gold /Flask'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=="Aberlour A''bunadh"):
            return 'SINGLE MALT SCOTCH'
        elif (y=='El Mayor Extra Anejo 100% Agave'):
            return 'TEQUILA'
        elif (y=='Ezra Brooks Bourbon Cream Mini'):
            return 'Temporary & Specialty Packages'
        elif (y=="Michter's US*1 SB Rye"):
            return 'STRAIGHT RYE WHISKIES'
        elif (y=='Glen Moray Scotch Classic Port Cask w/2 Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Zaya Gran Reserva Rum w/2 Rocks Glasses'):
            return   'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Corralejo Silver w/2 Sangrita Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Southern Comfort w/2 Rock Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Crystal Head Vodka w/2 Skull Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Hornitos Plata w/Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Hornitos Reposado w/Glasses'):
            return   'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        else:
            return x
    else:
        return x
              

def category2(x,y):
    if (pd.isna(x)):
        if (y=="Galliano L'Autentico"):
            return '1082900.'
        elif (y=='Spanish Single Malt 100ml'):
            return '1012210.'
        elif (y=='Spanish Single Malt 1 Liter'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 375ml'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 50ml'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 750ml'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 200ml'):
            return  '1012210.'
        elif (y=='Deep Eddy Lemon Vodka'):
            return '1031200.'
        elif (y=='"Beefeater ""24"""'):
            return '1042100.'
        elif (y=='Ansac VS  Cognac'):
            return '1052100.'
        elif (y=='Aalborg Jubilaeums Aquavit'):
            return '1082100.'
        elif (y=='Patron Silver 750 Box Tray Pack'):
            return  '1701100.'
        elif (y=='Patron Citronge Mango'):
            return '1022200.'
        elif (y=='Deanston Organic 14YR'):
            return '1012210.'
        elif (y=='HA Orphan Barrel Barterhouse'):
            return '1011200.'
        elif (y=='HA Orphan Barrel Forged Oak'):
            return '1011200.'
        elif (y=='Rothman & Winter Orchard Peach'):
            return '1082900.'
        elif (y=='HA Pikesville Rye 110prf'):
            return '1011500.'
        elif (y=='HA Johnnie Walker Private Collection 2014 Smoke'):
            return '1012200.'
        elif (y=='Jose Cuervo Especial Silver/Flask'):
            return '1701100.'
        elif (y=='Jose Cuervo Especial Gold /Flask'):
            return '1701100.'
        elif (y=="Aberlour A''bunadh"):
            return '1012210.'
        elif (y=='El Mayor Extra Anejo 100% Agave'):
            return '1022100.'
        elif (y=='Ezra Brooks Bourbon Cream Mini'):
            return '1701100.'
        elif (y=="Michter's US*1 SB Rye"):
            return '1011500.'
        elif (y=='Glen Moray Scotch Classic Port Cask w/2 Glasses'):
            return '1701100.'
        elif (y=='Zaya Gran Reserva Rum w/2 Rocks Glasses'):
            return  '1701100.'
        elif (y=='Corralejo Silver w/2 Sangrita Glasses'):
            return '1701100.'
        elif (y=='Southern Comfort w/2 Rock Glasses'):
            return '1701100.'
        elif (y=='Crystal Head Vodka w/2 Skull Glasses'):
            return '1701100.'
        elif (y=='Hornitos Plata w/Glasses'):
            return '1701100.'
        elif (y=='Hornitos Reposado w/Glasses'):
            return  '1701100.'
        elif (y=='Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'):
            return '1701100.'
        else:
            return x
    else:
        return x

In [456]:
# testing results of manual replacements
ytest17['Category']=list(map(category2,ytest17['Category'],ytest17['Item Description']))

In [457]:
ytest17['Category Name']=list(map(category_name2,ytest17['Category Name'],ytest17['Item Description']))

In [458]:
# much much better
ytest17.isna().sum()

Unnamed: 0                 0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    0
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                 128
Category Name            126
Vendor Number              0
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64

In [320]:
ytest17[ytest17['Category']=='Bains Cape Mountain Whiskey']['Category Name'].unique()

array([], dtype=object)

# Condensed Version of Above Work

In [3]:
sall=pd.concat([y17[['Store Number','Address']],y16[['Store Number','Address']],y15[['Store Number','Address']],y14[['Store Number','Address']],y13[['Store Number','Address']],y12[['Store Number','Address']]])
sall=sall[sall['Address'].notna()]
sall.drop_duplicates(subset=['Store Number'],inplace=True)
slall=pd.concat([y17[['Store Number','Store Location']],y16[['Store Number','Store Location']],y15[['Store Number','Store Location']],y14[['Store Number','Store Location']],y13[['Store Number','Store Location']],y12[['Store Number','Store Location']]])
slall=slall[slall['Store Location'].notna()]
slall.drop_duplicates(subset=['Store Number'],inplace=True)
zipna=pd.concat([y17[['Store Number','Zip Code']],y16[['Store Number','Zip Code']],y15[['Store Number','Zip Code']],y14[['Store Number','Zip Code']],y13[['Store Number','Zip Code']],y12[['Store Number','Zip Code']]])
zipna=zipna[zipna['Zip Code'].notna()]
zipna.drop_duplicates(subset=['Store Number'],inplace=True)
countyna=pd.concat([y17[['Store Number','County']],y16[['Store Number','County']],y15[['Store Number','County']],y14[['Store Number','County']],y13[['Store Number','County']],y12[['Store Number','County']]])
countyna=countyna[countyna['County'].notna()]
countyna.drop_duplicates(subset=['Store Number'],inplace=True)
countynumna=pd.concat([y17[['Store Number','County Number']],y16[['Store Number','County Number']],y15[['Store Number','County Number']],y14[['Store Number','County Number']],y13[['Store Number','County Number']],y12[['Store Number','County Number']]])
countynumna=countynumna[countynumna['County Number'].notna()]
countynumna.drop_duplicates(subset=['Store Number'],inplace=True)
cityna=pd.concat([y17[['Store Number','City']],y16[['Store Number','City']],y15[['Store Number','City']],y14[['Store Number','City']],y13[['Store Number','City']],y12[['Store Number','City']]])
cityna=cityna[cityna['City'].notna()]
cityna.drop_duplicates(subset=['Store Number'],inplace=True)
catna=pd.concat([y17[['Item Description','Category']],y16[['Item Description','Category']],y15[['Item Description','Category']],y14[['Item Description','Category']],y13[['Item Description','Category']],y12[['Item Description','Category']]])
catna=catna[catna['Category'].notna()]
catna.drop_duplicates(subset=['Item Description'],inplace=True)
catnamena=pd.concat([y17[['Item Description','Category Name']],y16[['Item Description','Category Name']],y15[['Item Description','Category Name']],y14[['Item Description','Category Name']],y13[['Item Description','Category Name']],y12[['Item Description','Category Name']]])
catnamena=catnamena[catnamena['Category Name'].notna()]
catnamena.drop_duplicates(subset=['Item Description'],inplace=True)
vennumna=pd.concat([y17[['Item Description','Vendor Name']],y16[['Item Description','Vendor Name']],y15[['Item Description','Vendor Name']],y14[['Item Description','Vendor Name']],y13[['Item Description','Vendor Name']],y12[['Item Description','Vendor Name']]])
vennumna=vennumna[vennumna['Vendor Name'].notna()]
vennumna.drop_duplicates(subset=['Item Description'],inplace=True)
vennum=pd.concat([y17[['Item Description','Vendor Number']],y16[['Item Description','Vendor Number']],y15[['Item Description','Vendor Number']],y14[['Item Description','Vendor Number']],y13[['Item Description','Vendor Number']],y12[['Item Description','Vendor Number']]])
vennum=vennum[vennum['Vendor Number'].notna()]
vennum.drop_duplicates(subset=['Item Description'],inplace=True)

In [ ]:
sall.to_csv('storenumaddress.csv')
slall.to_csv('storenumlocation.csv')
zipna.to_csv('storenumzip.csv')
countyna.to_csv('storenumcounty.csv')
countynumna.to_csv('storenumcountynum.csv')
cityna.to_csv('storenumcity.csv')
catna.to_csv('idcategory.csv')
catnamena.to_csv('idcategoryname.csv')
vennumna.to_csv('storenumvendorname.csv')
vennum.to_csv('storenumvendornumber.csv')

In [9]:
def county_name(x,y):
    if (pd.isna(x)) and (y=='GUTTENBERG'):
        return 'Clayton'
    elif (pd.isna(x)) and (y=='BELMOND'):
        return 'Wright'
    else:
        return x
    
def county_number(x,y):
    if (pd.isna(x)) and (y=='GUTTENBERG'):
        return '22.'
    elif (pd.isna(x)) and (y=='BELMOND'):
        return '99.'
    else:
        return x

    
def category_name(x,y):
    if (pd.isna(x)) and (y=='Herradura Gold Reposado 6pak'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=='Evan Williams Egg Nog'):
        return 'CREAM LIQUEURS'
    elif (pd.isna(x)) and (y=="Carolan's Irish Cream w/2 Bowls"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Rogue Dark Rum'):
        return 'AGED DARK RUM'
    elif (pd.isna(x)) and (y=='Ultimat Vodka'):
        return 'IMPORTED VODKA'
    elif (pd.isna(x)) and (y=='Herradura Anejo Tequila'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=="Whaler's Original Dark Rum"):
        return 'SPECIAL ORDER ITEMS'
    elif (pd.isna(x)) and (y=="Wild Turkey American Honey Shot Tap"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=="Chambord Liqueur w/2 Glasses"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Gentleman Jack w/2 Glasses'):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Caravella Limoncello w/Glass'):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Craigellachie'):
        return 'SCOTCH WHISKIES'
    elif (pd.isna(x)) and (y=='Glenfiddich 1963 Replica HA'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Pinnacle Candy Cane Trial Pack'):
        return 'Holiday VAP'
    elif (pd.isna(x)) and (y=='Dry Fly Gin'):
        return 'AMERICAN DRY GINS'
    elif (pd.isna(x)) and (y=="Galliano L'Autentico"):
        return 'MISC. IMPORTED CORDIALS & LIQUEURS'
    elif (pd.isna(x)) and (y=='1800 Reposado'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=='Grand Marnier Cuvee 1880 HA'):
        return 'Imported Cordials & Liqueur'
    elif (pd.isna(x)) and (y=='Courvoisier Gold'):
        return 'MISC. IMPORTED CORDIALS & LIQUEURS'
    elif (pd.isna(x)) and (y=='Ardbeg Auriverdes HA'):
        return 'SINGLE MALT SCOTCH'
    else:
        return x
    
def category(x,y):
    if (pd.isna(x)) and (y=='Evan Williams Egg Nog'):
        return '1081200.'
    elif (pd.isna(x)) and (y=="Carolan's Irish Cream w/2 Bowls"):
        return '1701100.'
    elif (pd.isna(x)) and (y=="Wild Turkey American Honey Shot Tap"):
        return '1701100.'
    elif (pd.isna(x)) and (y=="Chambord Liqueur w/2 Glasses"):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Gentleman Jack w/2 Glasses'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Caravella Limoncello w/Glass'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Craigellachie'):
        return '1012200.'
    elif (pd.isna(x)) and (y=='Glenfiddich 1963 Replica HA'):
        return '1012210.'
    elif (pd.isna(x)) and (y=='Pinnacle Candy Cane Trial Pack'):
        return '1701200.'
    elif (pd.isna(x)) and (y=='Dry Fly Gin'):
        return '1041100.'
    elif (pd.isna(x)) and (y=="Galliano L'Autentico"):
        return '1082900.'
    elif (pd.isna(x)) and (y=='1800 Reposado'):
        return '1022200.'
    elif (pd.isna(x)) and (y=='Grand Marnier Cuvee 1880 HA'):
        return '1082100.'
    elif (pd.isna(x)) and (y=='Courvoisier Gold'):
        return '1082900.'
    elif (pd.isna(x)) and (y=='Ardbeg Auriverdes HA'):
        return '1012210.'
    else:
        return x

In [4]:
vennumdict={}
for i in vennum['Item Description']:
    vennumdict[i]=vennum[vennum['Item Description']==i]['Vendor Number'].values[0]
vennumnadict={}
for i in vennumna['Item Description']:
    vennumnadict[i]=vennumna[vennumna['Item Description']==i]['Vendor Name'].values[0]
catnamedict={}
for i in catnamena['Item Description']:
    catnamedict[i]=catnamena[catnamena['Item Description']==i]['Category Name'].values[0]
catdict={}
for i in catna['Item Description']:
    catdict[i]=catna[catna['Item Description']==i]['Category'].values[0]
citydict={}
for i in cityna['Store Number']:
    citydict[i]=cityna[cityna['Store Number']==i]['City'].values[0]
countynumdict={}
for i in countynumna['Store Number']:
    countynumdict[i]=countynumna[countynumna['Store Number']==i]['County Number'].values[0]
slalldict={}
for i in slall['Store Number']:
    slalldict[i]=slall[slall['Store Number']==i]['Store Location'].values[0]
salldict={}
for i in sall['Store Number']:
    salldict[i]=sall[sall['Store Number']==i]['Address'].values[0]
zipdict={}
for i in zipna['Store Number']:
    zipdict[i]=zipna[zipna['Store Number']==i]['Zip Code'].values[0]
countydict={}
for i in countyna['Store Number']:
    countydict[i]=countyna[countyna['Store Number']==i]['County'].values[0]

In [5]:
def category_name2(x,y):
    if (pd.isna(x)):
        if (y=="Galliano L'Autentico"):
            return 'MISC. IMPORTED CORDIALS & LIQUEURS'
        elif (y=='Spanish Single Malt 100ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 1 Liter'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 375ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 50ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 750ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 200ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Deep Eddy  Lemon Vodka'):
            return 'VODKA FLAVORED'
        elif (y=='"Beefeater ""24"""'):
            return 'IMPORTED DRY GINS'
        elif (y=='Ansac VS  Cognac'):
            return 'Imported Brandies'
        elif (y=='Aalborg Jubilaeums Aquavit'):
            return 'Imported Cordials & Liqueur'
        elif (y=='Patron Silver 750 Box Tray Pack'):
            return 'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Patron Citronge Mango'):
            return '100% Agave Tequila'
        elif (y=='Deanston Organic 14YR'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='HA Orphan Barrel Barterhouse'):
            return 'STRAIGHT BOURBON WHISKIES'
        elif (y=='HA Orphan Barrel Forged Oak'):
            return 'STRAIGHT BOURBON WHISKIES'
        elif (y=='Rothman & Winter Orchard Peach'):
            return 'MISC. IMPORTED CORDIALS & LIQUEURS'
        elif (y=='HA Pikesville Rye 110prf'):
            return 'STRAIGHT RYE WHISKIES'
        elif (y=='HA Johnnie Walker Private Collection 2014 Smoke'):
            return 'SCOTCH WHISKIES'
        elif (y=='Jose Cuervo Especial Silver/Flask'):
            return 'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Jose Cuervo Especial Gold /Flask'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=="Aberlour A''bunadh"):
            return 'SINGLE MALT SCOTCH'
        elif (y=='El Mayor Extra Anejo 100% Agave'):
            return 'TEQUILA'
        elif (y=='Ezra Brooks Bourbon Cream Mini'):
            return 'Temporary & Specialty Packages'
        elif (y=="Michter's US*1 SB Rye"):
            return 'STRAIGHT RYE WHISKIES'
        elif (y=='Glen Moray Scotch Classic Port Cask w/2 Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Zaya Gran Reserva Rum w/2 Rocks Glasses'):
            return   'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Corralejo Silver w/2 Sangrita Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Southern Comfort w/2 Rock Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Crystal Head Vodka w/2 Skull Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Hornitos Plata w/Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Hornitos Reposado w/Glasses'):
            return   'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        else:
            return x
    else:
        return x
              

def category2(x,y):
    if (pd.isna(x)):
        if (y=="Galliano L'Autentico"):
            return '1082900.'
        elif (y=='Spanish Single Malt 100ml'):
            return '1012210.'
        elif (y=='Spanish Single Malt 1 Liter'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 375ml'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 50ml'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 750ml'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 200ml'):
            return  '1012210.'
        elif (y=='Deep Eddy Lemon Vodka'):
            return '1031200.'
        elif (y=='"Beefeater ""24"""'):
            return '1042100.'
        elif (y=='Ansac VS  Cognac'):
            return '1052100.'
        elif (y=='Aalborg Jubilaeums Aquavit'):
            return '1082100.'
        elif (y=='Patron Silver 750 Box Tray Pack'):
            return  '1701100.'
        elif (y=='Patron Citronge Mango'):
            return '1022200.'
        elif (y=='Deanston Organic 14YR'):
            return '1012210.'
        elif (y=='HA Orphan Barrel Barterhouse'):
            return '1011200.'
        elif (y=='HA Orphan Barrel Forged Oak'):
            return '1011200.'
        elif (y=='Rothman & Winter Orchard Peach'):
            return '1082900.'
        elif (y=='HA Pikesville Rye 110prf'):
            return '1011500.'
        elif (y=='HA Johnnie Walker Private Collection 2014 Smoke'):
            return '1012200.'
        elif (y=='Jose Cuervo Especial Silver/Flask'):
            return '1701100.'
        elif (y=='Jose Cuervo Especial Gold /Flask'):
            return '1701100.'
        elif (y=="Aberlour A''bunadh"):
            return '1012210.'
        elif (y=='El Mayor Extra Anejo 100% Agave'):
            return '1022100.'
        elif (y=='Ezra Brooks Bourbon Cream Mini'):
            return '1701100.'
        elif (y=="Michter's US*1 SB Rye"):
            return '1011500.'
        elif (y=='Glen Moray Scotch Classic Port Cask w/2 Glasses'):
            return '1701100.'
        elif (y=='Zaya Gran Reserva Rum w/2 Rocks Glasses'):
            return  '1701100.'
        elif (y=='Corralejo Silver w/2 Sangrita Glasses'):
            return '1701100.'
        elif (y=='Southern Comfort w/2 Rock Glasses'):
            return '1701100.'
        elif (y=='Crystal Head Vodka w/2 Skull Glasses'):
            return '1701100.'
        elif (y=='Hornitos Plata w/Glasses'):
            return '1701100.'
        elif (y=='Hornitos Reposado w/Glasses'):
            return  '1701100.'
        elif (y=='Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'):
            return '1701100.'
        else:
            return x
    else:
        return x

In [6]:
def get_category_name(x,y):
    storelist=list(catnamedict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catnamedict[y]
    else:
        return x
def get_category(x,y):
    storelist=list(catdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catdict[y]
    else:
        return x
def get_address(x,y):
    storelist=list(salldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return salldict[y]
    else:
        return x
def get_store_location(x,y):
    storelist=list(slalldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return slalldict[y]
    else:
        return x
def get_zip(x,y):
    storelist=list(zipdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return zipdict[y]
    else:
        return x
def get_county(x,y):
    storelist=list(countydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countydict[y]
    else:
        return x
def get_county_number(x,y):
    storelist=list(countynumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countynumdict[y]
    else:
        return x
def get_city(x,y):
    storelist=list(citydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return citydict[y]
    else:
        return x
def get_vendor_name(x,y):
    storelist=list(vennumnadict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumnadict[y]
    else:
        return x
def get_vendor_number(x,y):
    storelist=list(vennumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumdict[y]
    else:
        return x

In [10]:
#Looping all 6 parts through all maps to reduce nans in all categories
listof6 = (y12,y13,y14,y15,y16,y17)
counter = 12
for i in listof6:
    print(counter)
    counter+=1
    i['Address']=list(map(get_address,i['Address'],i['Store Number']))
    i['Store Location']=list(map(get_store_location,i['Store Location'],i['Store Number']))
    i['Zip Code']=list(map(get_zip,i['Zip Code'],i['Store Number']))
    i['County']=list(map(get_county,i['County'],i['Store Number']))
    i['County']=list(map(county_name,i['County'],i['City']))
    i['County Number']=list(map(get_county_number,i['County Number'],i['Store Number']))
    i['County Number']=list(map(county_name,i['County Number'],i['City']))
    i['City']=list(map(get_city,i['City'],i['Store Number']))
    i['Category']=list(map(category,i['Category'],i['Item Description']))
    i['Category']=list(map(get_category,i['Category'],i['Item Description']))
    i['Category Name']=list(map(category_name,i['Category Name'],i['Item Description']))
    i['Category Name']=list(map(get_category_name,i['Category Name'],i['Item Description']))
    i['Vendor Name']=list(map(get_vendor_name,i['Vendor Name'],i['Item Description']))
    i['Vendor Number']=list(map(get_vendor_number,i['Vendor Number'],i['Item Description']))

12
13
14
15
16
17

In [7]:
# Original printout of nans in raw data
listof6 = (y12,y13,y14,y15,y16,y17)
for i in listof6:
    print(i.isna().sum())

Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            3599
County                   3599
Category                  284
Category Name             822
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost          10
State Bottle Retail        10
Bottles Sold                0
Sale (Dollars)             10
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64
Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            2660
County                   2660
Category                  298
Category Name             810
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64
Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            1054
County                   1054
Category                  480
Category Name            1057
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64
Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            1119
County                   1119
Category                  773
Category Name            1462
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64
Unnamed: 0                   0
Invoice/Item Number          0
Date                         0
Store Number                 0
Store Name                   0
Address                    965
City                       965
Zip Code                  1010
Store Location             965
County Number            69336
County                   69336
Category                   350
Category Name             6100
Vendor Number                2
Vendor Name                  0
Item Number                  0
Item Description             0
Pack                         0
Bottle Volume (ml)           0
State Bottle Cost            0
State Bottle Retail          0
Bottles Sold                 0
Sale (Dollars)               0
Volume Sold (Liters)         0
Volume Sold (Gallons)        0
Year                         0
dtype: int64
Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                  1411
City                     1410
Zip Code                 1410
Store Location           1410
County Number            1410
County                   1410
Category                 5835
Category Name            5835
Vendor Number               1
Vendor Name                 1
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

In [11]:
# Final Product
listof6 = (y12,y13,y14,y15,y16,y17)
for i in listof6:
    print(i.isna().sum())

Unnamed: 0                0
Invoice/Item Number       0
Date                      0
Store Number              0
Store Name                0
Address                   0
City                      0
Zip Code                  0
Store Location            0
County Number             0
County                    0
Category                  0
Category Name             0
Vendor Number             0
Vendor Name               0
Item Number               0
Item Description          0
Pack                      0
Bottle Volume (ml)        0
State Bottle Cost        10
State Bottle Retail      10
Bottles Sold              0
Sale (Dollars)           10
Volume Sold (Liters)      0
Volume Sold (Gallons)     0
Year                      0
dtype: int64
Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64
Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64
Unnamed: 0                 0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    0
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                 177
Category Name            223
Vendor Number              0
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64
Unnamed: 0                 0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    0
City                       0
Zip Code                   0
Store Location             0
County Number            797
County                   797
Category                   8
Category Name            124
Vendor Number              2
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64
Unnamed: 0                 0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    1
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                 826
Category Name            826
Vendor Number              0
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64

## 4. Trimming clean code (og 4th look)

In [ ]:
y12.to_csv('cleany12.csv')
y13.to_csv('cleany13.csv')
y14.to_csv('cleany14.csv')
y15.to_csv('cleany15.csv')
y16.to_csv('cleany16.csv')
y17.to_csv('cleany17.csv')

In [ ]:
c12=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//cleany12.csv')
c13=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//cleany13.csv')
c14=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//cleany14.csv')
c15=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//cleany15.csv')
c16=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//cleany16.csv')
c17=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//cleany17.csv')

In [ ]:
testc12= c12
testc12.columns

In [ ]:
testc12=testc12.drop([''],axis=1)
#c12=c12.drop(['Unnamed: 0','Unnamed: 0.1','Invoice/Item Number','Store Name','Address','City','Zip Code', 'Store Location','County Number','County','Category','Vendor Name','Volume Sold (Gallons)','Year'] ,axis=1)

In [ ]:
#confirm dtypes after
c13['Date']=pd.to_datetime(c13['Date'])
c13['Vendor Number']=c13['Vendor Number'].astype(str)
c13['Store Number']=c13['Store Number'].astype(str)
c13['Item Number']=c13['Item Number'].astype(str)
c13['State Bottle Cost']=list(map(lambda x:x[1:],c13['State Bottle Cost']))
c13['State Bottle Cost']=pd.to_numeric(c13['State Bottle Cost'])
c13['State Bottle Retail']=list(map(lambda x:x[1:],c13['State Bottle Retail']))
c13['State Bottle Retail']=pd.to_numeric(c13['State Bottle Retail'])
c13['Sale (Dollars)']=list(map(lambda x:x[1:],c13['Sale (Dollars)']))
c13['Sale (Dollars)']=pd.to_numeric(c13['Sale (Dollars)'])