In [1]:
import pandas as pd
import numpy as np
import chunk
import re
from datetime import datetime

#pd.set_option('display.max_columns',30)

In [ ]:
y12=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//cleany12.csv')
y13=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//cleany13.csv')
y14=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//cleany14.csv')
y15=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//cleany15.csv')
y16=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//cleany16.csv')
y17=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//cleany17.csv')

In [2]:
y12=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//desmoines//cleany12.csv')
ytest12=y12

# To do: clear the 10,10,10 in y12, evaluate the county/county# in y16, and the cat/catname in y17

In [5]:
y12[y12['Sale (Dollars)'].isna()].head()

,Unnamed: 0,Unnamed: 0.1,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,...,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
50476,50476,199088,S03816000008,01/30/2012,3583,Mac's Liquor And Videos,220 EAST JEFFERSON,CORYDON,50060,"220 EAST JEFFERSON\nCORYDON 50060\n(40.75718, ...",...,Titos Handmade Mini,5,600,NaN,NaN,1,NaN,0.6,0.16,12
90574,90574,356024,S03816800149,01/30/2012,2190,"Central City Liquor, Inc.",1460 2ND AVE,DES MOINES,50314,"1460 2ND AVE\nDES MOINES 50314\n(41.60566, -93...",...,Titos Handmade Mini,5,600,NaN,NaN,1,NaN,0.6,0.16,12
316371,316371,1247099,S03842900093,01/31/2012,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,1823 E KIMBERLY RD\nDAVENPORT 52807\n(41.55678...,...,Pearl Wedding Cake Vodka Mini,12,500,NaN,NaN,1,NaN,0.5,0.13,12
331539,331539,1306628,S03839800115,01/31/2012,2593,Hy-Vee Food Store / Carroll,905 US HIGHWAY 30 WEST,CARROLL,51401,905 US HIGHWAY 30 WEST\nCARROLL 51401\n(42.064...,...,Pearl Wedding Cake Vodka Mini,12,500,NaN,NaN,2,NaN,1.0,0.26,12
362712,362712,1428507,S03825400160,01/31/2012,2616,Hy-Vee Food and Drug / Clinton,901 SOUTH 4TH ST,CLINTON,52732,"901 SOUTH 4TH ST\nCLINTON 52732\n(41.836268, -...",...,Titos Handmade Mini,5,600,NaN,NaN,3,NaN,1.8,0.48,12

In [10]:
y12[y12['State Bottle Retail'].isna()].head()

,Unnamed: 0,Unnamed: 0.1,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,...,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
50476,50476,199088,S03816000008,01/30/2012,3583,Mac's Liquor And Videos,220 EAST JEFFERSON,CORYDON,50060,"220 EAST JEFFERSON\nCORYDON 50060\n(40.75718, ...",...,Titos Handmade Mini,5,600,NaN,NaN,1,NaN,0.6,0.16,12
90574,90574,356024,S03816800149,01/30/2012,2190,"Central City Liquor, Inc.",1460 2ND AVE,DES MOINES,50314,"1460 2ND AVE\nDES MOINES 50314\n(41.60566, -93...",...,Titos Handmade Mini,5,600,NaN,NaN,1,NaN,0.6,0.16,12
316371,316371,1247099,S03842900093,01/31/2012,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,1823 E KIMBERLY RD\nDAVENPORT 52807\n(41.55678...,...,Pearl Wedding Cake Vodka Mini,12,500,NaN,NaN,1,NaN,0.5,0.13,12
331539,331539,1306628,S03839800115,01/31/2012,2593,Hy-Vee Food Store / Carroll,905 US HIGHWAY 30 WEST,CARROLL,51401,905 US HIGHWAY 30 WEST\nCARROLL 51401\n(42.064...,...,Pearl Wedding Cake Vodka Mini,12,500,NaN,NaN,2,NaN,1.0,0.26,12
362712,362712,1428507,S03825400160,01/31/2012,2616,Hy-Vee Food and Drug / Clinton,901 SOUTH 4TH ST,CLINTON,52732,"901 SOUTH 4TH ST\nCLINTON 52732\n(41.836268, -...",...,Titos Handmade Mini,5,600,NaN,NaN,3,NaN,1.8,0.48,12

In [7]:
y12[y12['State Bottle Cost'].isna()].head()

,Unnamed: 0,Unnamed: 0.1,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,...,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
50476,50476,199088,S03816000008,01/30/2012,3583,Mac's Liquor And Videos,220 EAST JEFFERSON,CORYDON,50060,"220 EAST JEFFERSON\nCORYDON 50060\n(40.75718, ...",...,Titos Handmade Mini,5,600,NaN,NaN,1,NaN,0.6,0.16,12
90574,90574,356024,S03816800149,01/30/2012,2190,"Central City Liquor, Inc.",1460 2ND AVE,DES MOINES,50314,"1460 2ND AVE\nDES MOINES 50314\n(41.60566, -93...",...,Titos Handmade Mini,5,600,NaN,NaN,1,NaN,0.6,0.16,12
316371,316371,1247099,S03842900093,01/31/2012,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,1823 E KIMBERLY RD\nDAVENPORT 52807\n(41.55678...,...,Pearl Wedding Cake Vodka Mini,12,500,NaN,NaN,1,NaN,0.5,0.13,12
331539,331539,1306628,S03839800115,01/31/2012,2593,Hy-Vee Food Store / Carroll,905 US HIGHWAY 30 WEST,CARROLL,51401,905 US HIGHWAY 30 WEST\nCARROLL 51401\n(42.064...,...,Pearl Wedding Cake Vodka Mini,12,500,NaN,NaN,2,NaN,1.0,0.26,12
362712,362712,1428507,S03825400160,01/31/2012,2616,Hy-Vee Food and Drug / Clinton,901 SOUTH 4TH ST,CLINTON,52732,"901 SOUTH 4TH ST\nCLINTON 52732\n(41.836268, -...",...,Titos Handmade Mini,5,600,NaN,NaN,3,NaN,1.8,0.48,12

In [6]:
y12.isna().sum()

Unnamed: 0                0
Unnamed: 0.1              0
Invoice/Item Number       0
Date                      0
Store Number              0
Store Name                0
Address                   0
City                      0
Zip Code                  0
Store Location            0
County Number             0
County                    0
Category                  0
Category Name             0
Vendor Number             0
Vendor Name               0
Item Number               0
Item Description          0
Pack                      0
Bottle Volume (ml)        0
State Bottle Cost        10
State Bottle Retail      10
Bottles Sold              0
Sale (Dollars)           10
Volume Sold (Liters)      0
Volume Sold (Gallons)     0
Year                      0
dtype: int64

In [5]:
y12[y12['State Bottle Cost'].isna()]['Item Number'].unique()

array([38180, 35920], dtype=int64)

In [6]:
y12[y12['State Bottle Cost'].isna()]['Item Description'].unique()

array(['Titos Handmade Mini', 'Pearl Wedding Cake Vodka Mini'],
      dtype=object)

In [8]:
y12[y12['Item Description']=='Titos Handmade Mini']['State Bottle Cost'].unique()

array(['$10.03', nan], dtype=object)

In [9]:
y12[y12['Item Description']=='Pearl Wedding Cake Vodka Mini']['State Bottle Cost'].unique()

array(['$5.00', nan], dtype=object)

In [ ]:
State Bottle Cost        10
State Bottle Retail      10
Bottles Sold              0
Sale (Dollars)           10

In [15]:
print(y12[y12['Item Description']=='Titos Handmade Mini']['State Bottle Retail'].unique()
,'and',
y12[y12['Item Description']=='Pearl Wedding Cake Vodka Mini']['State Bottle Retail'].unique())

['$15.05' nan] and ['$7.50' nan]

In [18]:
y12[y12['Item Description']=='Pearl Wedding Cake Vodka Mini']['Sale (Dollars)'].unique()

array(['$30.00', '$7.50', '$180.00', '$90.00', '$45.00', '$15.00',
       '$450.00', '$22.50', nan, '$360.00', '$37.50'], dtype=object)

In [19]:
y12[y12['Sale (Dollars)'].isna()]['Store Number'].unique()

array([3583, 2190, 2614, 2593, 2616, 4509, 2549, 2629, 2623], dtype=int64)

In [19]:
y12[y12['Sale (Dollars)'].isna()]['Store Number'].unique()

array([3583, 2190, 2614, 2593, 2616, 4509, 2549, 2629, 2623], dtype=int64)

In [26]:
c = [3583, 2190, 2614, 2593, 2616, 4509, 2549, 2629, 2623]
for i in c:
    while y12[y12['Store Number']]== i:
              y12[y12['Item Description']=='Pearl Wedding Cake Vodka Mini']['Sale (Dollars)'].unique()

KeyError: "None of [Int64Index([2459, 2487, 4509, 2522, 3816, 3912, 3540, 3819, 4344, 4105,\n            ...\n            2576, 4255, 2528, 2650, 3651, 4386, 2806, 2510, 2500, 3842],\n           dtype='int64', length=2082059)] are in the [columns]"